p {
color:blue;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}
h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
color: red;
font-size: large;
}
table {
    border: 10px;
    margin: auto;
    padding: 4px;
    color: black;
}
th{
border-radius: 1rem;
}