p {
color:blue;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}
h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
color: red;
font-size: large;
}
table , th ,td {
border: 1px solid black;
border-collapse: collapse;
margin: auto;
padding: auto;
}